.container {
      width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: black;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.row {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 12px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.value {
  font-size: 14px;
  color: #111827;
  text-align: left;
}
