.print-only {
    display: none;
}

@media print {
    .screen-only {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }

    .print-only {
        display: block;
    }

    body {
        background: white;
    }
}