.widalContainer {
  padding: 10px 0;
}

.widalTable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
  table-layout: fixed;
}

.widalTable th, .widalTable td {
  border: 1px solid #000;
  padding: 4px;
  font-size: 9pt;
  text-align: center;
}

.widalAntigenHeader {
  text-align: left !important;
  padding-left: 10px !important;
  background-color: #f1f5f9;
  font-weight: bold;
  width: 25%;
}

.widalRowLabel {
  text-align: left !important;
  font-weight: bold;
  padding-left: 10px !important;
}

.widalCell {
  font-size: 8pt;
  font-weight: 500;
}

/* Positive Highlighting */
.pos {
  font-weight: bold;
  background-color: #f0f0f0 !important;
}

@media print {
  .pos { 
    /* -webkit-print-color-adjust: exact;  */
    background-color: #f0f0f0 !important;
  }
}