.mainTable {
  width: 100%;
  border-collapse: collapse;
}

.mainTable th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: left;
  font-size: 10pt;
  padding: 5px;
}

.mainTable td {
  padding: 6px 5px;
  font-size: 10pt;
  border-bottom: 0.5px solid #eee;
}

/* Column Widths */
.colInvest { width: 40%; }
.colResult { 
  width: 20%; 
  font-weight: bold; 
  text-align: center;
}
.colUnit { width: 15%; }
.colRef { width: 25%; color: #444; }

@media print {
  .mainTable td { border-bottom: 0.5px solid #000; }
}